[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ollama = "*"
requests = "*"
python-dotenv = "*"
markdown = "*"
rapidfuzz = "*"
transformers = "*"
tensorflow = "*"
tf-keras = "*"
torch = "*"
accelerate = "*"
huggingface-hub = "*"
gradio-client = "*"

[dev-packages]
